MONGODB_URI=''
DATABASE_NAME=''
LOCAL_DEV_APP_HOST=''
LOCAL_DEV_APP_PORT=''

AUTHOR =''

WEBSITE_DOMAIN_DEVELOPMENT=''
WEBSITE_DOMAIN_PRODUCTION=''

BREVO_API_KEY=''
ADMIN_EMAIL_ADDRESS=''
ADMIN_EMAIL_NAME=''

ACCESS_TOKEN_SECRET_SIGNATURE=''
ACCESS_TOKEN_LIFE=''

REFRESH_TOKEN_SECRET_SIGNATURE=''
REFRESH_TOKEN_LIFE=''

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''